<nav class="bg-blue-500 p-5 text-white">
  <ul class="flex gap-10">
    <li><a href="/">Home</a></li>
    {{#if session.loggedIn}}
      <li><a href="/" class="none"></a></li>
    {{else}}
      <li><a href="/signup">Sign up</a></li>
    {{/if}}

    {{! como el navbar puede acceder a este loggedIn }}
    {{#if session.loggedIn}}
      <li><a href="/logout">Logout</a></li>
    {{else}}
      <li><a href="/login">Login</a></li>
    {{/if}}
    {{! // al renderizar el home (en la route user) le pasan unas propiedades que a su vez también tendrán acceso los componentes como el footer y navbar (esto es de hadlebars) }}
    {{#if hasUsers}}
      <li><a href="#">Me cumplí</a></li>
    {{/if}}

    {{#if session.loggedIn}}
      <li><a href="/homePost">Home Post</a></li>
    {{else}}
      <li><a href="/">Home Post (logeate)</a></li>
    {{/if}}

    {{#if session.loggedIn}}
      <li><a href="/createPost">Create Post</a></li>
    {{else}}
      <li><a href="/">Create Post (logeate) </a></li>
    {{/if}}

  </ul>
</nav>